/* Some of this code has been adapted from this tutorial [....] */


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* element styling and 'resets' */

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 130%;
    line-height: 1.5;
    color: #0A122A;
}

input,
textarea {
    font-family: inherit;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

p {
    margin: 0;
    padding: 0 0 1rem 0;
}

a {
    color: #0A122A;
    text-decoration-color: #F1AE54;
    text-decoration-thickness: 2px;
}

a:hover {
    text-decoration-color: #F1AE54;
    text-decoration-thickness: 2.5px;
    color: #40456C;
}

a:visited {
    color: #00124a;
}

.back-link{
    font-size: 16px;
}


li{
    padding: 10px 0px;
    background-image:url(bullet.png);
}

li::marker{
    font-size: 1.8rem;
    color: #F1AE54;
}

p+ul{
    margin-top: -10px;
}


/* Container */

.work-together-container{
    display: flex;
    justify-content: space-between;
}

.work-together-image{
    max-width: 35%;
    height: auto;
}

.work-together-container .list {
    margin-right: 20px;
}



.references{
    font-size: 1rem;
}




/* Nav - I adapted the following code for the nav bar from https://youtu.be/01nT4LALYco?si=hY3y9T3MoBu7025P */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 8% 12px 8%;
}

nav .logo img{
    width: 175px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0 10px;
    margin: 0;
}

nav ul li a {
    font-size: 1.2rem;
    color: inherit;
    text-decoration: none;
}

.link-hover a:hover {
    text-decoration: underline;
    text-decoration-color: #F1AE54;
    text-decoration-thickness: 2px;
}


/* flexible content images */

img {
    max-width: 100%;
    height: auto;
}

.image{
    max-width: 100%;
    margin: 1rem auto;
}

figcaption {
    font-size: 14px;
    text-align: center;
}


section {
    max-width: 65ch;
    margin: 3rem auto 5rem auto;
}

section iframe {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

section h2 {
    color: #40456C;;
    line-height: 1.2;
    padding: 0 0 0.5rem 0;
}

.theory-part{
    padding: 15px 0;
}


/* Header */

.page-header {
    background-color: #ffffff81;
    background-image: url(../images/background2.png);
    background-blend-mode: screen;
    background-size: cover;
    display: flex;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.page-header h1 {
    line-height: 1;
}

.header-content p {
    font-size: 1.8rem;
}

.page-header-secondary {
    background-color: #FFF8EC;
    background-blend-mode: screen;
    background-size: cover;
    display: flex;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.header-title-secondary{
    font-size: 3rem;
}


/* Footer */

.page-footer {
    background: #ffffff;
    text-align: center;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 15px 60px 15px;
}

.footer-content {
    color: #40456C;
}

.footer-text{
    font-size: 16px;
}

.footer-separator {
    color: #FADAA1;
}

.footer-content a {
    color: #fff;
}



/* Form */

.newsletter{
    background-color: #FFF8EC;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 40px 25%;
    text-align: center;
}

.subscribe_image{
    max-width: 200px;
}

.form-header{
    text-align: left;
}

.form-subtitle{
    font-size: 1rem;
    line-height: 1.3;
    padding-top: 10
    px;
}

.form-input,
.form-input-multichoice{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 0;
}

.input-field{
    font-size: 1.2rem;
    font-weight: 500;
}



/*
form input,
form textarea {
    font-size: 1.4rem;
    padding: 5px;
    border-radius: 0.2em;
    border: 1px solid #ccc;
    max-width: 100%;
    min-width: 80%;
}*/

form input[type="submit"] {
    background: #D43128;
    border: 1px solid #D43128;
    min-width: auto;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 40px;
    margin-top: 1rem;
    color: #fff;
}


form .smallPrint {
    font-style: italic;
    font-size: 1rem;
}

